body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.admin{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 auto;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar p {
  margin: 0;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar a.active {
  background-color: #0056b3;
}

a {
  display: block;
  padding: 10px;
  margin: 5px auto;
  width: 160px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left;
}

a:hover {
  background-color: #0056b3;
}