<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/cotizacion/css/estilos.css}">
</head>

<body>
    <h1>Crea tu Cotizacion</h1>

    <form>
        <b>Procesador:</b>
        <select name="procesadorId" id="selectProcesadorId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="procesador : ${vistaProcesadores}">
                <option th:value="${procesador.procesadorId}" th:text="${procesador.nombre}"
                    th:data-precio="${procesador.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioProcesador">Precio seleccionado: S/.0 </span><br><br>

        <b>Placa:</b>
        <select name="placaId" id="selectPlacaId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="placa : ${vistaPlacas}">
                <option th:value="${placa.placaId}" th:text="${placa.nombre}" th:data-precio="${placa.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioPlaca">Precio seleccionado: S/.0 </span><br><br>

        <b>Ram:</b>
        <select name="ramId" id="selectRamId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="ram : ${vistaRams}">
                <option th:value="${ram.ramId}" th:text="${ram.nombre}" th:data-precio="${ram.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioRam">Precio seleccionado: S/.0 </span><br><br>

        <b>Ram 2:</b>
        <select name="ramId2" id="selectRamId2">
            <option value="">-- Seleccione --</option>
            <th:block th:each="ram : ${vistaRams}">
                <option th:value="${ram.ramId}" th:text="${ram.nombre}" th:data-precio="${ram.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioRam2">Precio seleccionado: S/.0 </span><br><br>

        <b>Almacenamiento:</b>
        <select name="almacenamientoId" id="selectAlmacenamientoId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="almacenamiento : ${vistaAlmacenamientos}">
                <option th:value="${almacenamiento.almacenamientoId}" th:text="${almacenamiento.nombre}"
                    th:data-precio="${almacenamiento.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioAlmacenamiento">Precio seleccionado: S/.0 </span><br><br>

        <b>Tarjeta:</b>
        <select name="tarjetaId" id="selectTarjetaId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="tarjeta : ${vistaTarjetas}">
                <option th:value="${tarjeta.tarjetaId}" th:text="${tarjeta.nombre}" th:data-precio="${tarjeta.precio}">
                </option>
            </th:block>
        </select>

        <span id="mostrarPrecioTarjeta">Precio seleccionado: S/.0 </span><br><br>

        <b>Fuente:</b>
        <select name="fuenteId" id="selectFuenteId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="fuente : ${vistaFuentes}">
                <option th:value="${fuente.fuenteId}" th:text="${fuente.nombre}" th:data-precio="${fuente.precio}">
                </option>
            </th:block>
        </select>

        <span id="mostrarPrecioFuente">Precio seleccionado: S/.0 </span><br><br>

        <b>Case:</b>
        <select name="casseId" id="selectCasseId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="casse : ${vistaCasses}">
                <option th:value="${casse.casseId}" th:text="${casse.nombre}" th:data-precio="${casse.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioCasse">Precio seleccionado: S/.0 </span><br><br>

        <b>Monitor:</b>
        <select name="monitorId" id="selectMonitorId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="monitor : ${vistaMonitores}">
                <option th:value="${monitor.monitorId}" th:text="${monitor.nombre}" th:data-precio="${monitor.precio}">
                </option>
            </th:block>
        </select>

        <span id="mostrarPrecioMonitor">Precio seleccionado: S/.0 </span><br><br>

        <b>Refrigeracion:</b>
        <select name="refrigeracionId" id="selectRefrigeracionId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="refrigeracion : ${vistaRefrigeraciones}">
                <option th:value="${refrigeracion.refrigeracionId}" th:text="${refrigeracion.nombre}"
                    th:data-precio="${refrigeracion.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioRefrigeracion">Precio seleccionado: S/.0 </span><br><br>

        <b>Accesorio:</b>
        <select name="accesorioId" id="selectAccesorioId">
            <option value="">-- Seleccione --</option>
            <th:block th:each="accesorio : ${vistaAccesorios}">
                <option th:value="${accesorio.accesorioId}" th:text="${accesorio.nombre}"
                    th:data-precio="${accesorio.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioAccesorio">Precio seleccionado: S/.0 </span><br><br>

        <b>Accesorio 2:</b>
        <select name="accesorioId2" id="selectAccesorioId2">
            <option value="">-- Seleccione --</option>
            <th:block th:each="accesorio : ${vistaAccesorios}">
                <option th:value="${accesorio.accesorioId}" th:text="${accesorio.nombre}"
                    th:data-precio="${accesorio.precio}"></option>
            </th:block>
        </select>

        <span id="mostrarPrecioAccesorio2">Precio seleccionado: S/.0 </span><br><br>

        <b>Accesorio 3:</b>
        <select name="accesorioId3" id="selectAccesorioId3">
            <option value="">-- Seleccione --</option>
            <th:block th:each="accesorio : ${vistaAccesorios}">
                <option th:value="${accesorio.accesorioId}" th:text="${accesorio.nombre}"
                    th:data-precio="${accesorio.precio}">
                </option>
            </th:block>
        </select>

        <span id="mostrarPrecioAccesorio3">Precio seleccionado: S/.0 </span><br><br>

        <b>Accesorio 4:</b>
        <select name="accesorioId4" id="selectAccesorioId4">
            <option value="">-- Seleccione --</option>
            <th:block th:each="accesorio : ${vistaAccesorios}">
                <option th:value="${accesorio.accesorioId}" th:text="${accesorio.nombre}"
                    th:data-precio="${accesorio.precio}">
                </option>
            </th:block>
        </select>

        <span id="mostrarPrecioAccesorio4">Precio seleccionado: S/.0 </span><br><br>


        <span id="totalPrecio">Total: S/.0 </span><br><br>

        <button type="button" onclick="generarCotizacion()">Generar cotización</button>

    </form>

    <footer>
        <p>&copy; 2023 La Bruja Store. Todos los derechos reservados.</p>
    </footer>

    <script th:src="@{/cotizacion/js/index.js}"></script>
</body>

</html>