<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Almacenamiento</title>
</head>

<body>

    <h1>Almacenamiento</h1>
    <a href="/admin/almacenamiento/crear">Crear almacenamiento</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre de la Imagen</th>
                <th>Imagen</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>URL</th>
                <th>Estado</th>
                <th>Categoría</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="almacenamiento : ${tablaAlmacenamiento}">
                <td th:text="${almacenamiento.almacenamientoId}"></td>
                <td th:text="${almacenamiento.nombre}"></td>
                <td th:text="${almacenamiento.imagenNombre}"></td>
                <td>
                    <img th:src="'data:image/' + ${almacenamiento.typeImage} + ';base64,' + ${almacenamiento.base64Image}"
                        width="45px" height="45px" border="1" />
                </td>
                <td th:text="${almacenamiento.stock}"></td>
                <td th:text="${almacenamiento.precio}"></td>
                <td th:text="${almacenamiento.descripcion}"></td>
                <td><a th:href="${almacenamiento.url}" th:text="${almacenamiento.url}"></a></td>
                <td th:text="${almacenamiento.estado}"></td>
                <td th:text="${almacenamiento.categoria.nombre}"></td>
                <td><a
                        th:href="@{/admin/almacenamiento/editar/{almacenamientoId}(almacenamientoId=${almacenamiento.almacenamientoId})}">Editar</a>
                </td>
                <td><a
                        th:href="@{/admin/almacenamiento/{almacenamientoId}(almacenamientoId=${almacenamiento.almacenamientoId})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/admin/perfil">Volver</a>

</body>

</html>