<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Refrigeración</title>
</head>

<body>

    <h1>Refrigeración</h1>
    <a href="/admin/refrigeracion/crear">Crear refrigeración</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre de la Imagen</th>
                <th>Imagen</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>URL</th>
                <th>Estado</th>
                <th>Categoría</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="refrigeracion : ${tablaRefrigeracion}">
                <td th:text="${refrigeracion.refrigeracionId}"></td>
                <td th:text="${refrigeracion.nombre}"></td>
                <td th:text="${refrigeracion.imagenNombre}"></td>
                <td>
                    <img th:src="'data:image/' + ${refrigeracion.typeImage} + ';base64,' + ${refrigeracion.base64Image}"
                        width="45px" height="45px" border="1" />
                </td>
                <td th:text="${refrigeracion.stock}"></td>
                <td th:text="${refrigeracion.precio}"></td>
                <td th:text="${refrigeracion.descripcion}"></td>
                <td><a th:href="${refrigeracion.url}" th:text="${refrigeracion.url}"></a></td>
                <td th:text="${refrigeracion.estado}"></td>
                <td th:text="${refrigeracion.categoria.nombre}"></td>
                <td><a
                        th:href="@{/admin/refrigeracion/editar/{refrigeracionId}(refrigeracionId=${refrigeracion.refrigeracionId})}">Editar</a>
                </td>
                <td><a
                        th:href="@{/admin/refrigeracion/{refrigeracionId}(refrigeracionId=${refrigeracion.refrigeracionId})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/admin/perfil">Volver</a>

</body>

</html>