<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<h1>Crear Sub Categoria</h1>

	<form th:action="@{/admin/subcategoria/editar/{subCategoriaId}(subCategoriaId=${formularioEditarSubCategoria.subCategoriaId})}"
		th:object="${formularioEditarSubCategoria}" method="post">
		<label for="nombre">Nombre:</label> <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
		<label for="nombreUrl">Nombre URL:</label> <input type="text" id="nombreUrl" name="nombreUrl" th:field="*{nombreUrl}" required>
		
		<div>
			<label for="categoria">Categoría Padre:</label>
			<select id="categoria" name="categoriaId">
				<option th:each="categoria : ${selectorCategorias}" th:value="${categoria.categoriaId}"
					th:text="${categoria.nombre}"
					th:selected="${categoria.categoriaId == subcategoria.categoria.categoriaId}">
				</option>>
				</option>
			</select>
		</div>

		<br>
		<button type="submit">Editar</button>
	</form>

	<a href="../../subcategoria">Volver</a>

</body>

</html>