<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Marca</title>
</head>

<body>

    <h1>Marca</h1>
    <a href="/admin/marca/crear">Crear marca</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre de la Imagen</th>
                <th>Imagen</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="marca : ${tablaMarca}">
                <td th:text="${marca.marcaId}"></td>
                <td th:text="${marca.nombre}"></td>
                <td th:text="${marca.imagenNombre}"></td>
                <td>
                    <img th:src="'data:image/' + ${marca.typeImage} + ';base64,' + ${marca.base64Image}" width="45px"
                        height="45px" border="1" />
                </td>
                <td><a th:href="@{/admin/marca/editar/{marcaId}(marcaId=${marca.marcaId})}">Editar</a>
                </td>
                <td><a th:href="@{/admin/marca/{marcaId}(marcaId=${marca.marcaId})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/admin/perfil">Volver</a>

</body>

</html>