<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<h1>Categoria</h1>
	<a href="/admin/categoria/crear">Crear categorias</a>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Nombre URL</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="categoria : ${tablaCategoria}">
				<td th:text="${categoria.categoriaId}"></td>
				<td th:text="${categoria.nombre}"></td>
				<td th:text="${categoria.nombreUrl}"></td>

				<td><a th:href="@{/admin/categoria/editar/{categoriaId}(categoriaId=${categoria.categoriaId})}">Editar</a></td>
				<td><a th:href="@{/admin/categoria/{categoriaId}(categoriaId=${categoria.categoriaId})}">Eliminar</a></td>
			</tr>
		</tbody>
	</table>

	<a href="/admin/perfil">Volver</a>

</body>

</html>