.seguimiento{
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 30px;
}

.seguimiento a{
    color: #7c7c7c;
}

.seguimiento a:hover{
    color: rgb(250, 40, 40);
}

.seguimiento .seguimiento__etiqueta {
    text-decoration: none;
    color: #818181;
}

.seguimiento .seguimiento__producto {
    color: #ff0202;
}